node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.local
.env.development
!.env.template
!.env.production
*.md
!README.md
.vscode
.idea
coverage
.DS_Store
*.log
.vercel
.tsc-aliasrc.json
